In [1]:
from config import driver, username, password, host, port, database
from sqlalchemy import create_engine, func, select
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import psycopg2
import pandas as pd

In [2]:
connection_string = f"{driver}://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(connection_string)

connection = engine.connect()

In [7]:
SQL_Statement = "SELECT \
                        fiscal_year, \
                        fiscal_month, \
                        SUM(tripdurationinmins) AS total_trip_duration_in_mins, \
                        COUNT(ride_id) AS trip_count, \
                        COUNT(DISTINCT trip_date) AS number_of_days_in_month, \
                        COUNT(ride_id)/COUNT(DISTINCT trip_date) AS avg_trips_per_day \
                    FROM public.citibiketripdata \
                    GROUP BY fiscal_year, fiscal_month \
                    ORDER BY fiscal_year ASC, fiscal_month ASC"
yearMonthSummaryDF = pd.read_sql(SQL_Statement,connection)
yearMonthSummaryDF

,fiscal_year,fiscal_month,total_trip_duration_in_mins,trip_count,number_of_days_in_month,avg_trips_per_day
0,2017,1,9064578.0,726676,31,23441
1,2017,2,10336651.0,791647,27,29320
2,2017,3,9217958.0,727665,28,25988
3,2017,4,23159607.0,1315404,30,43846
4,2017,5,24214924.0,1523268,31,49137
5,2017,6,30111562.0,1731594,30,57719
6,2017,7,29813961.0,1735599,31,55987
7,2017,8,34129753.0,1816498,31,58596
8,2017,9,30287852.0,1878098,30,62603
9,2017,10,32839214.0,1897592,31,61212
10,2017,11,19144888.0,1330649,30,44354
11,2017,12,10910130.0,889967,31,28708
12,2018,1,9554988.0,718994,31,23193
13,2018,2,11915341.0,843114,28,30111
14,2018,3,13877641.0,976672,31,31505
15,2018,4,20516986.0,1307543,30,43584
16,2018,5,33223597.0,1824710,31,58861
17,2018,6,38472005.0,1953103,30,65103
18,2018,7,33331300.0,1913625,31,61729
19,2018,8,32376458.0,1977177,31,63779
20,2018,9,29358693.0,1877884,30,62596
21,2018,10,27261657.0,1878657,31,60601
22,2018,11,17229167.0,1260355,30,42011
23,2018,12,13444892.0,1016505,31,32790
24,2019,1,12032467.0,967287,31,31202
25,2019,2,12194875.0,943744,28,33705
26,2019,3,18884090.0,1327960,31,42837
27,2019,4,30314408.0,1766094,30,58869
28,2019,5,33286655.0,1924563,31,62082
29,2019,6,38252865.0,2125370,30,70845
30,2019,7,36565216.0,2181064,31,70356
31,2019,8,39880020.0,2344224,31,75620
32,2019,9,40040860.0,2444900,30,81496
33,2019,10,30869663.0,2092573,31,67502
34,2019,11,19906402.0,1478708,30,49290
35,2019,12,12757954.0,955210,31,30813
36,2020,1,15614163.0,1240596,31,40019
37,2020,2,14576741.0,1146830,29,39545
38,2020,3,20147038.0,1068457,31,34466
39,2020,4,18019786.0,682762,30,22758
40,2020,5,39738300.0,1487890,31,47996
41,2020,6,50496064.0,1882273,30,62742
42,2020,7,54681186.0,2105808,31,67929
43,2020,8,53198332.0,2329514,31,75145
44,2020,9,55456295.0,2488225,30,82940
45,2020,10,44362659.0,2248869,31,72544
46,2020,11,32462986.0,1736704,30,57890
47,2020,12,17840541.0,1088929,31,35126
48,2021,1,16513127.0,1095346,31,35333
49,2021,2,10863102.0,649983,27,24073
50,2021,3,27256123.0,1531094,31,49390
51,2021,4,38854194.0,2067669,30,68922
52,2021,5,50807628.0,2724165,31,87876
53,2021,6,60714620.0,3177517,30,105917
54,2021,7,55595240.0,3084537,31,99501
55,2021,8,53388360.0,3072478,31,99112
56,2021,9,57904896.0,3280221,30,109340

In [8]:
yearMonthSummaryDF.to_csv("..\Resources\yearMonthSummary.csv", index = False)

In [ ]:
SQL_Statement = "SELECT \
                        fiscal_year, \
                        fiscal_month, \
                        member_casual, \
                        COUNT(ride_id) AS trip_count \
                    FROM public.citibiketripdata \
                    GROUP BY fiscal_year, fiscal_month, member_casual \
                    ORDER BY fiscal_year ASC, fiscal_month ASC, member_casual ASC"
yearlySubscriberSummaryDF = pd.read_sql(SQL_Statement,connection)
yearlySubscriberSummaryDF

In [3]:
yearlySubscriberSummaryDF.to_csv("..\Resources\yearlySummaryBySubscribers.csv", index = False)

     fiscal_year  fiscal_month member_casual    count
0           2017             1        casual    23018
1           2017             1        member   700465
2           2017             1          None     3193
3           2017             2        casual    42916
4           2017             2        member   741151
..           ...           ...           ...      ...
112         2021             7        member  2021205
113         2021             8        casual  1208402
114         2021             8        member  1864076
115         2021             9        casual  1390509
116         2021             9        member  1889712

[117 rows x 4 columns]

In [9]:
SQL_Statement = "SELECT fiscal_year, fiscal_month, trip_date, member_casual, DATE_PART('hour', started_at) AS hour_of_day, count(*) \
	FROM public.citibiketripdata \
	WHERE \
        fiscal_year IN (2020,2021) \
	GROUP BY fiscal_year, fiscal_month, trip_date, member_casual, hour_of_day \
	ORDER BY fiscal_year ASC, fiscal_month ASC, trip_date ASC, hour_of_day ASC"
    
HourlyUsageDF = pd.read_sql(SQL_Statement,connection)
HourlyUsageDF

       fiscal_year  fiscal_month   trip_date member_casual  hour_of_day  count
0             2020             1  2020-01-01        casual          0.0     97
1             2020             1  2020-01-01        member          0.0    412
2             2020             1  2020-01-01        casual          1.0    120
3             2020             1  2020-01-01        member          1.0    513
4             2020             1  2020-01-01        casual          2.0     71
...            ...           ...         ...           ...          ...    ...
30398         2021             9  2021-09-30        member         21.0   2281
30399         2021             9  2021-09-30        casual         22.0   1489
30400         2021             9  2021-09-30        member         22.0   1952
30401         2021             9  2021-09-30        casual         23.0   1197
30402         2021             9  2021-09-30        member         23.0   1336

[30403 rows x 6 columns]

In [11]:
HourlyUsageDF.to_csv("..\Resources\HourlyUsage.csv", index = False)

In [5]:
SQL_Statement = "SELECT DISTINCT started_at::timestamp::date AS trip_date, \
                member_casual, \
                COUNT(*) as trip_count, \
                SUM(tripdurationinmins) as trip_duration_in_mins \
	FROM citibiketripdata \
	GROUP BY started_at::timestamp::date, member_casual \
	ORDER BY trip_date ASC;"
    
DaywiseUsageDF = pd.read_sql(SQL_Statement,connection)
DaywiseUsageDF

       trip_date member_casual  trip_count  trip_duration_in_mins
0     2017-01-01        casual        3622               145800.0
1     2017-01-01        member       12387               153095.0
2     2017-01-02        casual         570                21806.0
3     2017-01-02        member        8351                80186.0
4     2017-01-03        casual         162                86147.0
...          ...           ...         ...                    ...
3453  2021-09-28        member       63319               879559.0
3454  2021-09-29        casual       39759               793720.0
3455  2021-09-29        member       71773              1072917.0
3456  2021-09-30        casual       41371               791500.0
3457  2021-09-30        member       71206              1031955.0

[3458 rows x 4 columns]

In [6]:
DaywiseUsageDF.to_csv("..\Resources\DaywiseUsage.csv", index = False)